button.submitBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 3.2rem;
    width: 5rem;
    border: solid 1px;
    background: transparent;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.searchIcon path {
    stroke: rgb(var(--svg-color-rgb));
}
